* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --strong-color: #322;
    --accent-color: #aee;
    --light-neutral-color: #eee;
    --dark-neutral-color: #222;
}

#splash-container {
    background-image: url('images/aleisha-kalina-XqsfGjtB0xE-unsplash.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 3px black;
    border: 2px solid black;
    border-radius: 10px;
    width: max(70vw, 600px);
    height: max(45vw, 400px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#splash-info {
    font-size: max(1rem, 2vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: rgb(255, 255, 255);
}

#splash-btn-menu {
    padding: 1.5rem;
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    transition: 0.3s;
    font-size: 1.5rem;
}

#splash-btn-menu:hover {
    transform: scale(1.1);
}

#information-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
}

.grid-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.menu-item img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

#menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

#content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--light-neutral-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--strong-color);
}

#logo,
#top-navbar {
    padding: 0.5rem;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 3rem;
}

#top-navbar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 2rem;
    margin: 0;
}

nav a {
    padding: 1rem;
}

nav a,
footer a {
    transition: 0.3s;
    text-decoration: underline;
}

a:hover {
    background-color: #555;
}

#main-container {
    color: var(--strong-color);
    padding: 1rem;
}

nav a,
#logo,
#splash-container,
footer,
footer a {
    color: var(--accent-color);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--strong-color);
    padding: 1rem;
}
